header {
    background: url("../../public/src/barber-shop-g2720af025_1920.jpg")
        no-repeat fixed top;
    background-size: auto 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: #fff;
}
